* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.BIG {
    background-color: #282C33;
}

.NAVBAR {
    background-color: #282C33;
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 61px;
    width: 1024px;
    justify-self: center;
}

.links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.LINK {
    font-size: 17px;
    color: gray;
    text-decoration: none;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    transition: all 0.5s;
}

.LINK:hover {
    color: white;
    cursor: pointer;
}

.SELECT {
    background-color: transparent;
    color: gray;
    border: none;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
}

.sharp {
    color: #C778DD;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
}