.bigproject{
   background-color: #282C33;
   color: white;
}

.slash{
    color: #C778DD;
}

.projectss{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1024px;
    gap: 10px;
    justify-self: center;
}